.createAccount {
  display: flex;
  align-items: center;
  justify-content: center;
}

.createAccount_box {
  text-align: left;
  padding: 40px;
  height: 600px;
  width: 365px;
  border-radius: 15px;
}

.createAccount p {
  font-size: 14px;
  color: var(--small-txt-color);
}

.createAccount_box h2 {
  font-weight: bold;
  color: black;
}

.createAccount_box button {
  margin-top: 30px;
  border: none;
  color: white;
  background-color: var(--button-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-weight: 500;
  border-radius: 50px;
  width: 100%;
  text-decoration: none;
}

.recoverSeedPhrase_box_seed label {
  margin: 8px 0px;
  font-weight: 500;
  font-size: 16px;
}

.createAccount_box .nextBtn:disabled {
  opacity: 50%;
}

.back_icon {
  display: flex;
  text-align: left;
  font-size: 20px;
  cursor: pointer;
}
